.clock {
    display: block;
    
    &__face {
        stroke: $black;
        stroke-width: 16;
        fill: transparent;
    }

    &__center {
        stroke: transparent;
        fill: $black;
    }

    &__second-hand {
        stroke: red;
        stroke-width: 1;

        //animation: rotate 60s infinite linear;
        transform-origin: center center;
    }

    &__minute-hand {
        stroke: $black;
        stroke-width: 8;

        //animation: rotate 3600s infinite ease;
        transform-origin: center center;
    }

    &__hour-hand {
        stroke: $black;
        stroke-width: 8;

        //animation: roatate 86400s infinite ease;
        transform-origin: center center;
    }
}

@keyframes rotate {
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

// .fx-rotate {
//     animation: rotate 2s infinite linear;
//     transform-origin: center center;
// }