.clock {
    .face {
        stroke: $black;
        stroke-width: 8;
        fill: transparent;
    }

    .second-hand {
        stroke: red;
        stroke-width: 1;

        animation: rotate 60s infinite linear;
        transform-origin: center center;
    }

    .minute-hand {
        stroke: $black;
        stroke-width: 4;

        animation: rotate 3600s infinite ease;
        transform-origin: center center;
    }

    .hour-hand {
        stroke: $black;
        stroke-width: 4;

        animation: roatate 86400s infinite ease;
        transform-origin: center center;
    }
}

@keyframes rotate {
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

// .fx-rotate {
//     animation: rotate 2s infinite linear;
//     transform-origin: center center;
// }