.fx-bottom-border {
    @include transform(translateZ(0));
    @include backface-visibility(hidden);
    
    &:before {
        content: "";

        position: absolute;
        z-index: -1;

        left: 0;
        right: 100%;
        bottom: 0;
        
        background: black;
        
        height: 4px;
        
        @include transition(right .3s ease-out);
    }

    &:hover:before,
    &:focus:before,
    &:active:before {
        right: 0;
    }
}
