.flex {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include justify-content(space-between);
    @include align-items(center);
    @include align-content(stretch);

    height: 100%;
    width: 100%;

    .one-whole {
        width: 100%;
    }

    .two-thirds {
        width: 66%;
    }

    .one-half {
        width: 50%;
    }

    .one-third {
        width: 33%;
    }

    .one-quarter {
        width: 25%;
    }

    @include media-query("portable") {
        .portable--one-whole {
            width: 100%;
        }

        .portable--two-thirds {
            width: 66%;
        }

        .portable--one-half {
            width: 50%;
        }

        .portable--one-third {
            width: 33%;
        }

        .portable--one-quarter {
            width: 25%;
        }
    }

    @include media-query("palm") {
        .palm--one-whole {
            width: 100%;
        }

        .palm--two-thirds {
            width: 66%;
        }

        .palm--one-half {
            width: 50%;
        }

        .palm--one-third {
            width: 33%;
        }

        .palm--one-quarter {
            width: 25%;
        }
    }

    &.align-content-top {
        @include align-content(flex-start);
    }

    &:not(.vertical) > * {
        margin-right: $gutter;

        &:last-child {
            margin-right: 0;
        }
    }

    &.no-gutter > * {
        margin-right: 0;
    }

    &.wrap {
        @include flex-wrap(wrap);
    }

    &.vertical {
        @include flex-flow(column nowrap);

        &.center {
            @include justify-content(center);
        }

        // .one-whole {
        //     height: 100%;
        //     width: inherit;
        // }

        // .one-half {
        //     height: 50%;
        //     width: inherit;
        // }

        // .one-quarter {
        //     height: 25%;
        //     width: inherit;
        // }
    }
        
    @include media-query("portable") {
        &.palm--stack {
            @include flex-direction(column);

            &.reverse {
                @include flex-direction(column-reverse);
            }

            & > * {
                margin-right: 0;
            }
        }
    }
}