.cls-1,.cls-2,.cls-3,.cls-4,.cls-5 {
    fill: none;
}

.cls-2,.cls-3,.cls-4,.cls-5 {
    stroke: #000;
    stroke-miterlimit: 10;
}

.cls-3 {
    stroke-width: 2px;
}

.cls-4 {
    stroke-width: 0.5px;
}

.cls-5 {
    stroke-width: 3px;
}