.cls-1,.cls-2,.cls-3,.cls-4,.cls-5 {
    fill: none;
}

.cls-2,.cls-3,.cls-4,.cls-5 {
    stroke: #000;
    stroke-miterlimit: 10;
}

@keyframes test {
    0%   {transform: translateY(0);}
    50%  {transform: translateY(10px);}
    100% {transform: translateY(0);}
}

.cls-3 {
    stroke-width: 2px;
}

.cls-4 {
    stroke-width: 0.5px;
}

.cls-5 {
    stroke-width: 3px;
}

#g {
    animation: test 1s infinite;
}