.section {
    min-height: 100vh;
    
    &.light-blue {
        background-color: $light-blue;
    }

    &.medium-blue {
        background-color: $medium-blue;
    }

    &.dark-blue {
        background-color: $dark-blue;
    }

    &.charcoal {
        background-color: $charcoal;
        color: #FFF;
    }
}