.section {
    &.light-blue {
        background-color: $light-blue;
    }

    &.medium-blue {
        background-color: $medium-blue;
    }

    &.dark-blue {
        background-color: $dark-blue;
    }
}