/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
#BOX-SIZING
\*------------------------------------*/
/**
* Set the global `box-sizing` state to `border-box`.
*
* css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
* paulirish.com/2012/box-sizing-border-box-ftw
*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*------------------------------------*\
Taken from CSS Wizardry Grids
csswizardry.com
\*------------------------------------*/
/**
* Define your breakpoints. The first value is the prefix that shall be used for
* your classes (e.g. `.palm--one-half`), the second value is the media query
* that the breakpoint fires at.
*/
/**
* These mixins are for the library to use only, you should not need to modify
* them at all.
*
* Enclose a block of code with a media query as named in `$breakpoints`.
*/
body {
  font-family: "freight-sans-pro", Verdana, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6,
.header {
  font-family: "freight-text-pro", "Franklin Gothic Book", serif; }

.serif {
  font-family: "freight-text-pro", "Franklin Gothic Book", serif; }

.sans-serif {
  font-family: "freight-sans-pro", Verdana, Arial, sans-serif; }

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
  fill: none; }

.cls-2, .cls-3, .cls-4, .cls-5 {
  stroke: #000;
  stroke-miterlimit: 10; }

@keyframes test {
  0% {
    top: 0px; }
  25% {
    top: 200px; }
  75% {
    top: 50px; }
  100% {
    top: 100px; } }
.cls-3 {
  stroke-width: 2px; }

.cls-4 {
  stroke-width: 0.5px;
  animation: test 5s infinite; }

.cls-5 {
  stroke-width: 3px; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-align-content: stretch;
  -moz-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  height: 100%;
  width: 100%; }
  .flex .one-whole {
    width: 100%; }
  .flex .two-thirds {
    width: 66%; }
  .flex .one-half {
    width: 50%; }
  .flex .one-third {
    width: 33%; }
  .flex .one-quarter {
    width: 25%; }
  @media only screen and (max-width: 1023px) {
    .flex .portable--one-whole {
      width: 100%; }
    .flex .portable--two-thirds {
      width: 66%; }
    .flex .portable--one-half {
      width: 50%; }
    .flex .portable--one-third {
      width: 33%; }
    .flex .portable--one-quarter {
      width: 25%; } }
  @media only screen and (max-width: 480px) {
    .flex .palm--one-whole {
      width: 100%; }
    .flex .palm--two-thirds {
      width: 66%; }
    .flex .palm--one-half {
      width: 50%; }
    .flex .palm--one-third {
      width: 33%; }
    .flex .palm--one-quarter {
      width: 25%; } }
  .flex.align-content-top {
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start; }
  .flex:not(.vertical) > * {
    margin-right: 20px; }
    .flex:not(.vertical) > *:last-child {
      margin-right: 0; }
  .flex.no-gutter > * {
    margin-right: 0; }
  .flex.wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .flex.vertical {
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }
    .flex.vertical.center {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
  @media only screen and (max-width: 1023px) {
    .flex.palm--stack {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
      .flex.palm--stack.reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column-reverse;
        -moz-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
      .flex.palm--stack > * {
        margin-right: 0; } }

.modal {
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  position: fixed;
  height: 100vh;
  width: 100vw; }

.background-cover {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

.static-image {
  position: absolute;
  top: 0;
  z-index: -1; }

.object-cover {
  object-fit: cover;
  object-position: top center;
  height: 100%;
  width: 100%; }

.content-wrapper {
  padding: 4rem;
  width: 100%; }
  @media only screen and (max-width: 480px) {
    .content-wrapper {
      padding: 3rem 10px;
      max-width: 100vw;
      overflow-x: hidden; } }
  .content-wrapper.lock-width {
    max-width: 60rem; }

.full-height {
  height: 100%; }

.half-height {
  height: 50%; }

.add-bottom-margin {
  margin-bottom: 2em; }

.center-by-margin {
  margin-left: auto !important;
  margin-right: auto !important; }

.section {
  min-height: 100vh; }
  .section.light-blue {
    background-color: #a2ccdd; }
  .section.medium-blue {
    background-color: #69a7c2; }
  .section.dark-blue {
    background-color: #467284; }
  .section.charcoal {
    background-color: #333333;
    color: #FFF; }

.hidden {
  display: none; }

.auto-min-height {
  min-height: auto; }

/*# sourceMappingURL=styles.css.map */
